html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #333;
}

p {
  margin: 14px 0 8px 0;
  font-size: 0.8em;
}

label[name=mode] {
  font-size: 0.9em;
}

#content-wrapper {
  width: 800px;
  background: #FFF;
  padding: 1em;
  margin: 1em auto;
  min-height: 300px;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
	margin-top: 0;
}

img {
  max-width: 100%;
}

#fileInputArea {
  padding: 0 2px;
}

#preview {
  padding: 2px;
}

#fileDisplayArea {
  margin: 0 4px 5px 0px;
  padding: 5px;
  overflow-x: auto;
  width: 100%;
  resize: vertical;
  height: 12em;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: 1.2px solid #87a185;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  white-space: pre;
}
fieldset {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1.2px solid #87a185;
  padding-bottom: 7px;
}
fieldset > p:first-of-type {
  margin: 1px 0 0 0;
}
fieldset > p {
  margin: 5px 0;
}

fieldset input[type=number] {
  width: 2.5em;
  text-align: right;
}

/* TO DO: style buttons */

#submitButton {
  width: 24%;
  height: 2.4em;
  display: block;
  margin: 1.8em auto 0;
  background-color: #4dad57;
  border: 1.2px solid #399943;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-size: .95em;
  letter-spacing: .7px;
  color: #fff;
}
